<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Настройки интернета</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <p><a href="/"><input type="submit" value="Главная"/></a></p>

    <h2>Настройки интернета</h2>

    <div th:replace="switching-connection-internet-type.html"></div>

    <form
            id="config-form"
            th:action="@{/config/update/{id}(id=${config.configId})}"
            th:attr="data-config-id=${config.configId}"
            th:object="${config}"
    >
        <div>
            <table>
                <thead>
                <tr>
                    <th>IP-адрес</th>
                    <th>Маска</th>
                    <th>Шлюз</th>
                    <th>Тип</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td th:text="${config.ip}"></td>
                    <td th:text="${config.mask}"></td>
                    <td th:text="${config.gate}"></td>
                    <td th:text="${config.connectionInternetType.connectionInternetName}"></td>
                </tr>
                </tbody>
            </table>
            <div>
                <input type="submit" class="btn btn-primary" value="Обновить настройки">
            </div>
        </div>
    </form>

    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>