<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Настройки интернета</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <h2>Настройки интернета</h2>

    <div>
        <span>Тип подключения интернета:</span>
        <select id="connection-internet-type" name="connectionInternetType">
            <option
                    th:each="connectionInternetType : ${connectionInternetTypes}"
                    th:value="${connectionInternetType.connectionInternetName}"
                    th:selected="${connectionInternetType.connectionInternetName eq config.connectionInternetType.connectionInternetName}"
                    th:text="${connectionInternetType.connectionInternetName}"
                    th:attr="data-type-id=${connectionInternetType.connectionInternetId}"
            ></option>
        </select>
    </div>

    <form
            id="config-form"
            th:action="@{/config/change/{id}(id=${config.configId})}"
            th:attr="data-config-id=${config.configId}"
            th:object="${config}"
            method="post"
    >
        <ul>
            <li>IP-адрес: <input type="text" name="ip" th:value="${config.ip}"></li>
            <li>Маска подсети: <input type="text" name="mask" th:value="${config.mask}"/></li>
            <li>Основной шлюз: <input type="text" name="gate" th:value="${config.gate}"></li>
        </ul>
        <input type="submit" value="Сохранить настройки">
    </form>

    <script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>