<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Подключенные устройства</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

    <div th:object="${devices}">

        <h2>Проводные устройства</h2>

        <table>
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>IP-адрес</th>
                    <th>Mac-адрес</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr
                        th:each="device : ${devices}"
                        th:if="${device.connectionDeviceType.connectionDeviceName eq 'Проводной'}"
                >
                    <td th:text="${device.deviceName}"></td>
                    <td th:text="${device.ipAddress}"></td>
                    <td th:text="${device.macAddress}"></td>
                    <td>
                        <button><a th:href="@{'/devices/' + ${devices[0].generalConfig.generalConfigId} + '/delete/' + ${device.deviceId}}">x</a></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>Беспроводные устройства</h2>

        <table>
            <thead>
            <tr>
                <th>Имя</th>
                <th>IP-адрес</th>
                <th>Mac-адрес</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr
                    th:each="device : ${devices}"
                    th:if="${device.connectionDeviceType.connectionDeviceName eq 'Беспроводной'}"
            >
                <td th:text="${device.deviceName}"></td>
                <td th:text="${device.ipAddress}"></td>
                <td th:text="${device.macAddress}"></td>
                <td>
                    <button><a th:href="@{'/devices/' + ${devices[0].generalConfig.generalConfigId} + '/delete/' + ${device.deviceId}}">x</a></button>
                </td>
            </tr>
            </tbody>
        </table>

        <p><button>
            <a th:href="@{'/devices/' + ${devices[0].generalConfig.generalConfigId} + '/generate'}">Сгенерировать устройство</a>
        </button></p>
    </div>
</body>
</html>