<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div th:object="${generalConfig}" class="container my-5">
    <div class="row">
        <h2>Главная страница административной панели роутера</h2>
        <h3>Добро пожаловать, <span th:text="${generalConfig.adminAccount.login}"></span>!</h3>

        <div>
            <a href="/">
                <input type="submit" value="Главная"/>
            </a>
        </div>

        <div>
            <a th:href="@{/admin-account/{id}(id=${generalConfig.adminAccount.adminAccountId})}">
                <input type="submit" value="Информация об аккаунте"/>
            </a>
        </div>

        <div>
            <a th:href="@{/config/{id}(id=${generalConfig.config.configId})}">
                <input type="submit" value="Настройки интернета"/>
            </a>
        </div>

        <div>
            <a th:href="@{/wifi/{id}(id=${generalConfig.wifi.wifiId})}">
                <input type="submit" value="Настройки беспроводного режима"/>
            </a>
        </div>

        <div>
            <a th:href="@{/general-config/{id}(id=${generalConfig.generalConfigId})}">
                <input type="submit" value="Общие настройки"/>
            </a>
        </div>

        <div>
            <a th:href="@{/devices/{id}(id=${generalConfig.config.configId})}">
                <input type="submit" value="Устройства"/>
            </a>
        </div>

        <div>
            <a th:href="@{/recipient/get-by/{a_id}(a_id=${generalConfig.adminAccount.adminAccountId})}">
                <input type="submit" value="Настройка уведомлений"/>
            </a>
        </div>
    </div>
</div>
</body>
</html>