<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div th:object="${adminAccount}" class="container my-5">
    <div class="row">
        <h2>Главная страница административной панели роутера</h2>
        <h3>Добро пожаловать, <span th:text="${adminAccount.getLogin()}"></span>!</h3>
        <div>
            <a th:href="@{/adminAccount/{id}(id=${adminAccount.adminAccountId})}">
                <input type="submit" value="Информация об аккаунте"/>
            </a>
        </div>
    </div>
</div>
</body>
</html>