<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Recipients</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <div>
    <h2>Новый получатель</h2>
        <form   th:action="@{/recipient/create_by/{a_id}(a_id=${adminAccountId})}"
                th:object="${adminAccountId}"
                method="post">
          <div class="row">
            <div >
              <label>Email</label> <input type="text" name="email">
            </div>

            <div>
              <input type="submit" value="Добавить"/>
            </div>

          </div>
        </form>
  </div>
</body>